<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @list.url %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="container-title">
    <p></p>
    <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-success" %>
  </div>

  <ul class='list-none'>
      <div class="container-lists">

        <% @list.bookmarks.each do |bookmark| %>
          <li>
            <div class="container-movie-card">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= bookmark.movie.poster_url %>')"></div>
                <div class='container-movie'>

                  <h4><%= bookmark.movie.title %></h4>
                  <p><%= bookmark.movie.overview %></p>

                  <div class='container-comment'>
                    <p><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
                    <%= link_to "Delete",
                    bookmark_path(bookmark),
                    data: {turbo_method: :delete, turbo_confirm: "Do you really want to remove this movie from your list?"}, class: "delete-none"
                    %>
                  </div>

                </div>

            </div>
          </li>
        <% end %>

      </div>

      <div class="container-bookmark">
        <h3>Add a movie</h3>
        <%= simple_form_for([@list, @bookmark]) do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie, as: :select %>
        <%= f.submit class: "btn btn-success" %>
        <% end %>
      </div>
  </ul>
</div>
